cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
fastparquet==0.5.0
google-api-core==1.25.1
google-auth==1.24.0
google-cloud-bigquery==2.6.1
google-cloud-core==1.5.0
google-cloud-pubsub==2.2.0
google-cloud-storage==1.35.0
google-cloud==0.34.0
google-crc32c==1.1.2; python_version >= "3.5"
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
grpc-google-iam-v1==0.12.3
grpcio==1.35.0
idna==2.10
jedi==0.17.2
libcst==0.3.16
llvmlite==0.35.0rc3
lxml==4.6.3
multitasking==0.0.9
mypy-extensions==0.4.3
numba==0.51.2
numpy==1.20.2
pandas==1.2.4
parso==0.7.1
proto-plus==1.13.0
protobuf==3.14.0
pyarrow==3.0.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.5
pyyaml==5.4.1
requests==2.25.1
rsa==4.7; python_version >= "3.6"
six==1.15.0
thrift==0.13.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.3
yfinance==0.1.59
